{% extends "index.html" %}
{% block content %}
<section class="content">
      <div class="container-fluid">
        <!-- /.row -->
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Total stats</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width: 10px">#</th>
                      <th>Name</th>
                      <th>Count</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1.</td>
                      <td>Portals</td>
                      <td>{{ portals_count }}</td>
                    </tr>
                    <tr>
                      <td>2.</td>
                      <td>Orders</td>
                      <td>{{ orders_count }}</td>
                    </tr>
                    <tr>
                      <td>3.</td>
                      <td>Proxy</td>
                      <td>{{ proxy_count }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right">
                  <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                </ul>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Link Statistics</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-head-fixed text-nowrap">
                  <thead>
                    <tr>
                      <th>All Links</th>
                      <th>Success Link</th>
                      <th>Fail Link</th>
                    </tr>
                  </thead>
                  <tbody>
                  <tr>
                      <td>{{ orders_stat_links.total }}</td>
                      <td>{{ orders_stat_links.total_success }}</td>
                      <td>{{ orders_stat_links.total_failed }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Order Statistics</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-head-fixed text-nowrap">
                  <thead>
                    <tr>
                      <th>Success Orders</th>
                      <th>Fail Orders</th>
                    </tr>
                  </thead>
                  <tbody>
                  <tr>
                      <td>{{ orders_stat.0 }}</td>
                      <td>{{ orders_stat.1 }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
{% endblock %}